/* main css */

.heroes_villians {
	width: 100%;
}

.star_character {
	border: 1px solid #e5e5e5;
	margin-bottom: 20px;
}


header {
	background-color: #EEBB44;
	margin-bottom: 40px;
}


header h1 {
	line-height: 1;
	margin-bottom: 0;
}

.character_info {
	padding: 20px;
}
 
.character_info h1 {
	margin-bottom: 0;
	margin-top: 0;
} 



